mmiModel.design/mmiModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="org/mmiModel" elementFormDefault="qualified" targetNamespace="org/mmiModel">

    <complexType name="Task">
    	<sequence>
    		<element name="success" type="tns:task_success_t"/>
    		<element name="reason" type="string"/>
    		<element minOccurs="0" name="avm" type="tns:Avm"/>
    	</sequence>
    </complexType>
    

    <simpleType name="task_success_t">
    	<restriction base="string">
    		<enumeration value="SUCCEEDED"/>
    		<enumeration value="SUC_CONSTRAINT_RELAXATION_SYSTEM"/>
    		<enumeration value="SUC_CONSTRAINT_RELAXATION_USER"/>
    		<enumeration value="SUC_CONSTRAINT_RELAXATION_BOTH"/>
    		<enumeration value="SUC_NO_SOLUTION"/>
    		<enumeration value="FAILED_SYSTEM"/>
    		<enumeration value="FAILED_USER"/>
    	</restriction>
    </simpleType>

    <complexType name="Dialogue">
    	<sequence>
    		<element minOccurs="0" name="description" type="string"/>
    		<element name="baseTimestamp" type="long"/>
    		<element maxOccurs="1" minOccurs="0" name="task" type="tns:Task">
    		</element>
    		<!-- 
    			<sequence minOccurs="0" maxOccurs="unbounded">
    			<element name="systemTurn" type="tns:SystemTurn" minOccurs="1" maxOccurs="1"></element>
    			<element name="userTurn" type="tns:UserTurn" minOccurs="1" maxOccurs="1"></element>
    			</sequence>
    		-->
    		<element maxOccurs="unbounded" minOccurs="0" name="step" type="tns:dialogue_step_t"/>
    	</sequence>
    </complexType>

    <complexType abstract="true" name="Turn">
    	<sequence>
    		<element name="feedbackDelay" type="long" />
    		<element name="feedbackDuration" type="long" />
    		<element name="actionDuration" type="long" />
    		<element name="elements" type="long" />
    		<element name="feedback" type="long" />
    		<element name="concepts" type="long" />
    		<element name="noise" type="long" />
    		<element name="questions" type="long"></element>
    		<element minOccurs="0" name="modality"
    			type="tns:ModalityInfo" />
    	</sequence>
    </complexType>


    <complexType name="Avm"/>



    <element name="Avm" type="tns:Avm"/>

    <element name="Task" type="tns:Task"/>

    <element name="Turn" type="tns:Turn"/>

    <complexType name="ModalitySynchroni">
    	<sequence>
    		<element name="nlags" type="long"/>
    		<element name="lagtime" type="long"/>
    		<element name="nevents" type="long"/>
    	</sequence>
    </complexType>
    
    <complexType name="ModalityChange">
    	<sequence>
    		<element name="origin" type="tns:role_t"/>
    		<element name="reason" type="tns:mc_reason_t"/>
    	</sequence>
    </complexType>

    <simpleType name="role_t">
    	<restriction base="string">
    		<enumeration value="SYSTEM"/>
    		<enumeration value="USER"/>
    	</restriction>
    </simpleType>

    <simpleType name="mc_reason_t">
    	<restriction base="string">
    		<enumeration value="RECOGNITION_ERROR"/>
    		<enumeration value="ENVIRONMENT_CHANGE"/>
    		<enumeration value="LOW_MOD_APPROPRIATENESS"/>
    		<enumeration value="USER_DECISION"/>
    		<enumeration value="SYSTEM_DECISION"/>
    		<enumeration value="INTERFACE_ADAPTATION"/>
    		<enumeration value="OTHER"/>
    	</restriction>
    </simpleType>

    <complexType name="ModalityAppropriateness">
    	<sequence>
    		<element name="appropriateness" type="tns:mod_approp_t"/>
    	</sequence>
    </complexType>
    
    <simpleType name="mod_approp_t">
    	<restriction base="string">
    		<enumeration value="APPROPRIATE"/>
    		<enumeration value="PARTIALLY"/>
    		<enumeration value="INAPPROPRIATE"/>
    	</restriction>
    </simpleType>

    <complexType name="ModalityInfo">
    	<sequence>
    		<element name="modalityType" type="tns:mod_type_t"/>
    		<element name="mmiType" type="tns:mmi_type_t"/>
    		<element minOccurs="0" name="appropriateness" type="tns:ModalityAppropriateness">
    		</element>
   			<element minOccurs="0" name="synchroni" type="tns:ModalitySynchroni">
   			</element>
   			<element minOccurs="0" name="change" type="tns:ModalityChange"/>
    	</sequence>
    	
    	
    </complexType>

    <simpleType name="mod_type_t">
    	<restriction base="string">
    		<enumeration value="S"/>
    		<enumeration value="V"/>
    		<enumeration value="G"/>
    		<enumeration value="SV"/>
    		<enumeration value="SG"/>
    		<enumeration value="VG"/>
    		<enumeration value="SVG"/>
    	</restriction>
    </simpleType>

    <simpleType name="mmi_type_t">
    	<restriction base="string">
    		<enumeration value="UNIMODAL"/>
    		<enumeration value="EQUIVALENT"/>
    		<enumeration value="ASSIGNED"/>
    		<enumeration value="REDUNDANT"/>
    		<enumeration value="COMPLEMENTARY"/>
    	</restriction>
    </simpleType>

    <element name="ModalitySynchroni" type="tns:ModalitySynchroni"/>

    <element name="ModalityChange" type="tns:ModalityChange"/>

    <element name="ModalityAppropriateness" type="tns:ModalityAppropriateness"/>

    <element name="ModalityInfo" type="tns:ModalityInfo"/>

    <complexType name="SystemTurn">
    	<complexContent>
    		<extension base="tns:Turn">
    			<sequence>
                    <element name="metacomm" type="tns:SystemMetacomm"/>
    					<element minOccurs="0" name="speechOutput" type="tns:SpeechOutput">
    					</element>
    					<element minOccurs="0" name="cooperativity" type="tns:Cooperativity"/>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>
    
    <complexType name="Cooperativity">
    	<sequence>
    		<element name="contextualAppropriateness" type="tns:contextual_appropriateness_t"/>
    	</sequence>
    </complexType>
    
    <simpleType name="contextual_appropriateness_t">
    	<restriction base="string">
    		<enumeration value="APPROPRIATE"/>
    		<enumeration value="INAPPROPRIATE"/>
    		<enumeration value="TOTAL_FAILURE"/>
    		<enumeration value="INCOMPREHENSIBLE"/>
    	</restriction>
    </simpleType>

    <complexType name="SpeechOutput">
    	<sequence>
    		<element name="AN_CO" type="long" />
    		<element name="AN_IN" type="long" />
    		<element name="AN_PA" type="long" />
    		<element name="AN_FA" type="long" />
    		<element name="promptType" type="tns:prompt_type_t"></element>
    	</sequence>
    </complexType>
    
    <element name="Cooperativity" type="tns:Cooperativity"/>

    <element name="SpeechOutput" type="tns:SpeechOutput"/>

    <complexType name="SystemMetacomm">
    	<complexContent>
    		<extension base="tns:Metacomm">
    			<sequence>
	    			<element name="isASRReject" type="boolean"/>
	    			<element name="isDIVReject" type="boolean"/>
	    			<element name="isGRReject" type="boolean"/>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <element name="SystemMetacomm" type="tns:SystemMetacomm"/>

    <complexType abstract="true" name="Metacomm">
    	<sequence>
    		<element name="isHelp" type="boolean"/>
    		<element name="isCorrection" type="boolean"/>
    	</sequence>
    </complexType>
    
    <complexType name="UserMetacomm">
    	<complexContent>
    		<extension base="tns:Metacomm">
    			<sequence>
	    			<element name="isTimeOut" type="boolean"/>
	    			<element name="isCancel" type="boolean"/>
	    			<element name="isRestart" type="boolean"/>
	    			<element name="isBargein" type="boolean"/>
	    			<element name="isSuccessfulBargein" type="boolean"/>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>
    
    <complexType name="SpeechInput">
    	<sequence>
	    	<element name="overallWords" type="long"/>
	    	<element name="substitutedWords" type="long"/>
	    	<element name="deletedWords" type="long"/>
	    	<element name="insertedWords" type="long"/>
	    	<element name="overallSentences" type="long"/>
	    	<element name="substitutedSentences" type="long"/>
	    	<element name="deletedSentences" type="long"/>
	    	<element name="insertedSentences" type="long"/>
	    	<element name="overallConcepts" type="long"/>
	    	<element name="substitutedConcepts" type="long"/>
	    	<element name="deletedConcepts" type="long"/>
	    	<element name="insertedConcepts" type="long"/>
	    	<element name="parsingResult" type="tns:parsing_result_t"/>
    	</sequence>
    </complexType>
    
    <complexType name="GuiInput">
    	<sequence>
	    	<element name="textElements" type="long"/>
	    	<element name="navigationActions" type="long"/>
	    	<element name="navigationMoves" type="long"/>
	    	<element name="navigationLength" type="long"/>
	    	<element name="exploringActions" type="long"/>
	    	<element name="transferringActions" type="long"/>
    	</sequence>
    </complexType>
    
    <element name="UserMetacomm" type="tns:UserMetacomm"/>

    <element name="SpeechInput" type="tns:SpeechInput"/>

    <element name="GuiInput" type="tns:GuiInput"/>

    <complexType name="UserTurn">
    	<complexContent>
    		<extension base="tns:Turn">
    			<sequence>
                    <element name="metacomm" type="tns:UserMetacomm"/>
   					<element minOccurs="0" name="speechInput" type="tns:SpeechInput"/>
   					<element minOccurs="0" name="guiInput" type="tns:GuiInput"/>
                </sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <element name="Dialogue" type="tns:Dialogue"/>


    <complexType name="dialogue_step_t">
    	<sequence maxOccurs="1" minOccurs="1">
    		<element maxOccurs="1" minOccurs="1" name="systemTurn" type="tns:SystemTurn"/>
    		<element maxOccurs="1" minOccurs="1" name="userTurn" type="tns:UserTurn"/>
    	</sequence>
    </complexType>

    <simpleType name="prompt_type_t">
    	<restriction base="string">
    		<enumeration value="OPEN"></enumeration>
    		<enumeration value="HALF_OPEN"></enumeration>
    		<enumeration value="CLOSED"></enumeration>
    		<enumeration value="NO_QUESTION"></enumeration>
    	</restriction>
    </simpleType>

    <simpleType name="parsing_result_t">
    	<restriction base="string">
    		<enumeration value="CORRECTLY_UNDERSTOOD"></enumeration>
    		<enumeration value="PARTIALLY_UNDERSTOOD"></enumeration>
    		<enumeration value="NOTHING_UNDERSTOOD"></enumeration>
    	</restriction>
    </simpleType>
</schema>
